p { text-align: justify; }

table {
    display: table !important;
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important; 
    border-collapse: collapse !important;
}

table th, table td {
    border-left: none !important;
    border-right: none !important;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}

figure {
    margin: 0.5em auto;
}
figure > img {
    display: block;
    margin: 0 auto;
    page-break-inside: avoid;
}
figcaption { 
    display: block;
    text-align: center;
    margin-top: 0.5em;
}
